@using Microsoft.AspNetCore.Components.Authorization
@using TB.UI.Shared.Dashboard
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class=" alert alert-info">سیستم در حال احراز هویت است</p>
                            </div>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                     <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class=" alert alert-info">شما به این بخش دسترسی ندارید</p>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>پیدا نشد</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                 <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class=" alert alert-info">آدرس مورد نظر شما یافت نشد</p>
                            </div>
                        </div>
                    </div>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>