@using TB.UI.Helper
@inject IConfiguration _config
<header class="navbar-light navbar-sticky header-static">
    <div class="navbar-top d-none d-lg-block small">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center my-2">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link ps-0" href="/about">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">ورود / ثبت نام</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="btn-group me-2" role="group" aria-label="font size changer">
                        <input type="radio" class="btn-check" name="fntradio" id="font-sm">
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-sm">A-</label>

                        <input type="radio" class="btn-check" name="fntradio" id="font-default" checked>
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-default">A</label>

                        <input type="radio" class="btn-check" name="fntradio" id="font-lg">
                        <label class="btn btn-xs btn-outline-primary mb-0" for="font-lg">A+</label>
                    </div>

                    <div class="modeswitch" id="darkModeSwitch">
                        <div class="switch"></div>
                    </div>

                    <ul class="nav">
                        @if (Data?.Setting?.Whatsapp != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2 fs-5" href="@Data?.Setting?.Whatsapp"><i class="fab fa-whatsapp"></i></a>
                            </li>
                        }
                        @if (Data?.Setting?.Instagram != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2 fs-5" href="@Data.Setting.Instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                        }
                        @if (Data?.Setting?.Telegram != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2 fs-5" href="@Data.Setting.Telegram"><i class="fab fa-telegram"></i></a>
                            </li>
                        }
                        @if (Data?.Setting?.Twitter != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2 fs-5" href="@Data.Setting.Twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                        }
                        @if (Data?.Setting?.Youtube != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2 fs-5" href="@Data.Setting.Youtube"><i class="fab fa-youtube"></i></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="border-bottom border-2 border-primary opacity-1"></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            @if (Data?.Setting?.Logo != null)
            {
                <a class="navbar-brand" href="/">
                <img class="navbar-brand-item light-mode-item" src="@(Path.Combine(_config.GetValue<string>("ApiBaseUrl") , Data.Setting.Logo))" alt="logo">
                @*<img class="navbar-brand-item dark-mode-item" src="assets/images/logo-light.svg" alt="logo">*@
            </a>
            }
            
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-body h6 d-none d-sm-inline-block">منو</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll">

                    <li class="nav-item"> <a class="nav-link" href="/">خانه</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">دسته بندی</a>
                        <ul class="dropdown-menu" aria-labelledby="homeMenu">
                            @if (Data?.Categories != null)
                            {
                                @foreach (var item in Data.Categories)
                                {
                                    <li> <a class="dropdown-item" href="@("/categories/" + item.Id)">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">مقاله ها</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            @if (Data.Blogs != null)
                            {
                                @foreach (var item in Data.Blogs)
                                {
                                    <li> <a class="dropdown-item" href="/blogs/@item.Id">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </li>

                    <li class="nav-item dropdown dropdown-fullwidth">
                        <a class="nav-link dropdown-toggle" href="#" id="megaMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> اخرین اخبار</a>
                        <div class="dropdown-menu" aria-labelledby="megaMenu">
                            <div class="container">
                                <div class="row g-4 p-3 flex-fill">
                                    @if (Data.News != null)
                                    {
                                        @foreach (var item in Data.News)
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="card bg-transparent">
                                                    <img class="card-img rounded" src="@(Path.Combine(_config.GetValue<string>("ApiBaseUrl") , item.Image))" alt="@item.Title">
                                                    <div class="card-body px-0 pt-3">
                                                        <h6 class="card-title mb-0"><a href="/news/@item.Id" class="btn-link text-reset">@item.Title</a></h6>
                                                        <ul class="nav nav-divider align-items-center text-uppercase small mt-2">
                                                            <li class="nav-item">
                                                                @if (item.User != null)
                                                                {
                                                                    <a href="#" class="text-reset btn-link">
                                                                        @string.Concat(item.User.Name , " " , item.User.LastName)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <span>بدون کاربر</span>
                                                                }
                                                            </li>
                                                            @if (item.CreatedAt != null)
                                                            {
                                                                <li class="nav-item">
                                                                    @(((DateTime)item.CreatedAt).GregorianToPersian())
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav flex-nowrap align-items-center">
                <div class="nav-item dropdown dropdown-toggle-icon-none nav-search">
                    <a class="nav-link dropdown-toggle" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-search fs-4"> </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
                        <EditForm Model="search" OnValidSubmit="Search">
                            <DataAnnotationsValidator />
                            <div class="d-flex gap-1 align-items-center justify-start">
                                <input class="form-control border-success" @bind-value="@search.Text" name="Text" type="search" placeholder="جستجو" aria-label="Search">
                                <ValidationMessage For="@(() => search.Text)" />
                                <button class="btn btn-success m-0" type="submit">جستجو</button>
                            </div>
                        </EditForm>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
