@page "/categories/{Id:int}"
@using TB.UI.Helper
@inject IConfiguration _config

@if (Category != null)
{
    <PageTitle>@Category.Name</PageTitle>
}

@if (Category != null)
{
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-overlay-bottom h-300 overflow-hidden text-center" style="background-image:url('@(string.IsNullOrEmpty(Category.Image) ? "/assets/images/nopic.jpg" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , Category.Image))'); background-position: center left; background-size: cover;">
                        <div class="card-img-overlay d-flex align-items-center p-3 pb-4 px-sm-5">
                            <div class="col-12 mt-auto d-md-flex justify-content-between align-items-center">
                                <h1 class="text-white display-5">@Category.Name</h1>
                                <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dots mb-0">
                                        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i> صفحه اصلی</a></li>
                                        <li class="breadcrumb-item active">@Category.Name</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (Category.Contents != null && Category.Contents.Any())
    {
        <section class="position-relative p-0">
            <div class="container">
                <div class="row g-4">
                    @foreach (var item in Category.Contents)
                    {
                        <div class="col-md-6">
                            <div class="card card-overlay-bottom card-img-scale">
                                <img class="card-img" src="@(string.IsNullOrEmpty(item.Image) ? "/assets/images/nopic.jpg" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , item.Image))" alt="@item.Title">
                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                    <div class="w-100 mt-auto">
                                        <div class="col">
                                            @if (item.Category != null)
                                            {
                                                <a href="/categories/@item.CategoryId" class="badge text-bg-primary mb-2"><i class="fas fa-circle me-2"></i>@item.Category.Name</a>
                                            }
                                            <h2 class="text-white display-6"><a href="/news/@item.Id" class="btn-link text-reset stretched-link fw-normal">@item.Title</a></h2>
                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                @if (item.User != null)
                                                {
                                                    <li class="nav-item">
                                                        <div class="nav-link">
                                                            <div class="d-flex align-items-center text-white position-relative">
                                                                <div class="avatar avatar-sm">
                                                                    <img class="avatar-img rounded-circle" src="@(string.IsNullOrEmpty(item.User.Image) ? "/assets/images/nopic_user.png" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , item.User.Image))" alt="@($"{item.User.Name} {item.User.LastName}")">
                                                                </div>
                                                                <span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">@($"{item.User.Name} {item.User.LastName}")</a></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                @if (item.CreatedAt != null)
                                                {
                                                    <li class="nav-item">@(((DateTime)item.CreatedAt).GregorianToPersian())</li>

                                                }
                                                <li class="nav-item">
                                                    <a href="/news/@item.Id#comments" class="btn-link"><i class="fas fa-comment-alt me-1"></i>@($"{item.Comments.Count} دیدگاه")</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
    }
    else
    {
        <p class="alert alert-info text-center">هیچ محتوایی یافت نشد</p>
    }

}
else
{
    <MudOverlay Visible="@showSpinner" LightBackground="true" Absolute="false">
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
    </MudOverlay>
}


