@page "/news/{Id:int}"
@page "/blogs/{Id:int}"
@using TB.UI.Helper
@inject IConfiguration _config

@if (ContentDto != null)
{
    <PageTitle>@ContentDto.Title</PageTitle>
}

@if (ContentDto != null)
{
    <section class="pt-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url('@(string.IsNullOrEmpty(ContentDto.Image) ? "/assets/images/nopic.jpg" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , ContentDto.Image))'); background-position: center left; background-size: cover;">
                        <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                            <div class="w-100 my-auto">
                                @if (ContentDto.Category != null)
                                {
                                    <a href="/categories/@ContentDto.Category.Id" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>@ContentDto.Category.Name</a>
                                }
                                <h2 class="text-white display-5">@ContentDto.Title</h2>
                                <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                                    @if (ContentDto.User != null)
                                    {
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center text-white position-relative">
                                                    <div class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" src="@(string.IsNullOrEmpty(ContentDto.User?.Image) ? "/assets/images/nopic_user.png" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , ContentDto.User.Image))" alt="@($"{ContentDto?.User?.Name} {ContentDto?.User?.LastName}")">
                                                    </div>
                                                    <span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">@($"{ContentDto?.User?.Name} {ContentDto?.User?.LastName}")</a></span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    @if (ContentDto.CreatedAt != null)
                                    {
                                        <li class="nav-item">@(((DateTime)ContentDto.CreatedAt).GregorianToPersian())</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container position-relative" data-sticky-container>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    @if (!string.IsNullOrWhiteSpace(ContentDto.Description))
                    {
                        @((MarkupString)ContentDto.Description)
                    }

                    @if (ContentDto.User != null)
                    {
                        <div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
                            <a href="#">
                                <div class="avatar avatar-xxl me-2 me-md-4">
                                    <img class="avatar-img rounded-circle" src="@(string.IsNullOrEmpty(ContentDto.User?.Image) ? "/assets/images/nopic_user.png" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , ContentDto.User.Image))" alt="@($"{ContentDto?.User?.Name} {ContentDto?.User?.LastName}")">
                                </div>
                            </a>
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <div>
                                        <h4 class="m-0"><a href="#" class="text-reset">@($"{ContentDto?.User?.Name} {ContentDto?.User?.LastName}")</a></h4>
                                    </div>
                                    <a href="/search?user_id=@(ContentDto.User.Id)" class="btn btn-xs btn-primary-soft">مشاهده اخبار</a>
                                </div>
                                @if (ContentDto?.User?.Description != null)
                                {
                                    <p class="my-2">@ContentDto.User.Description</p>
                                }
                            </div>
                        </div>

                    }

                    @if (ContentDto?.Comments != null && ContentDto.Comments.Any())
                    {
                        <div class="mt-5">
                            <h3>
                                دیدگاه ها

                                @ContentDto.Comments.Count
                            </h3>

                            @foreach (var item in ContentDto.Comments)
                            {
                                @if (item.User != null)
                                {
                                    <div class="my-4 d-flex">
                                        <img class="avatar avatar-md rounded-circle float-start me-3" src="@(string.IsNullOrEmpty(ContentDto.User?.Image) ? "/assets/images/nopic_user.png" : Path.Combine(_config.GetValue<string>("ApiBaseUrl") , ContentDto.User.Image))" alt="avatar">
                                        <div>
                                            <div class="mb-2">
                                                <h5 class="m-0">@($"{item.User.Name} {item.User.LastName}")</h5>
                                                @if (item.CreatedAt != null)
                                                {
                                                    <span class="me-3 small">@(((DateTime)item.CreatedAt).GregorianToPersian())</span>
                                                }
                                            </div>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                     <div class="my-4 d-flex">
                                        <img class="avatar avatar-md rounded-circle float-start me-3" src="/assets/images/nopic_user.png" alt="avatar">
                                        <div>
                                            <div class="mb-2">
                                                <h5 class="m-0">@($"{item.Email} - کاربر مهمان")</h5>
                                                @if (item.CreatedAt != null)
                                                {
                                                    <span class="me-3 small">@(((DateTime)item.CreatedAt).GregorianToPersian())</span>
                                                }
                                            </div>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    }
                    else
                    {
                        <p class="alert alert-info">هیچ نظری برای این مطلب ثبت نشده است</p>
                    }

                    <div>
                        <h3>ثبت دیدگاه</h3>
                        <small>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند *</small>
                        <form class="row g-3 mt-2">
                            <div class="col-md-6">
                                <label class="form-label">نام *</label>
                                <input type="text" class="form-control" aria-label="First name">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">ایمیل *</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">برای دفعه بعد که نظر دادم نام و ایمیل من را در این مرورگر ذخیره شود.</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">متن دیدگاه *</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">ثبت</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <MudOverlay Visible="@showSpinner" LightBackground="true" Absolute="false">
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
    </MudOverlay>
}


